@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
}

.grid {
  display: grid;
  /* Line below means: Each column is going to be 80px wide */
  grid-template-columns: repeat(3, 80px);
  /* Line below means: First row is 50px tall, the next 3 rows will be 80px tall, and the final row will be 60px tall */
  grid-template-rows: 50px repeat(3, 80px) 60px;
  /* Line below will: Add spacing between divs - was formally handled by margin property in .grid div{} */
  gap: 5px;
}

.turn {
  background-color: green;
}
.square {
  background-color: red;
}
.score {
  background-color: blue;
}