@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
}

body {
  /* Will bring contents in <Main> Dead Center of screen */
  padding: 90px 20px;
  display: flex;
  flex-direction: column; /* Below will center contents Horizontally */
  justify-content: center; /* Below will center contents Vertically */
  align-items: center;
}

/* Mobile styles */
.grid { 
  display: grid;
  grid-template-columns: repeat(3, 80px); /* Each column is going to be 80px wide */
  grid-template-rows: 50px repeat(3, 80px) 60px;   /* First row is 50px tall, the next 3 rows will be 80px tall, and the final row will be 60px tall */
  gap: 5px; /* Add spacing between divs - was formally handled by margin property in .grid div{} */
}

/* Desktop styles */
@media (min-width: 768px) {
  .grid {
    width: 490px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 20px;
  }
}

.turn {
  background-color: green;
  /* Two lines below will: Span a div 2 columns wide*/
  grid-column-start: 1;
  grid-column-end: 3;
}

.square {
  background-color: red;
}

.score {
  background-color: blue;
}

.actions {
  background-color: purple;
}

/* Footer styles */
footer {
  color: white;
  margin-top: 50px;
}

footer p {
  margin-top: 10px;
  text-align: center;
}

footer a {
  color: var(--yellow);
}